<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firstapp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Firstapp.NoActionBar"></activity>

        <activity
            android:name=".ActivityLifeCycleExample"
            android:exported="true">

        </activity>

        <activity
            android:name=".FirstActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="true" />

        <activity
            android:name=".ActivityFragEg"
            android:exported="true" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <activity
            android:name=".ActivityDialogExample"
            android:exported="true">

        </activity>

        <activity
            android:name=".ActivityFragmentTransitionExample"
            android:exported="true">

        </activity>

        <activity
            android:name=".ActivityRecyclerViewExample"
            android:exported="true" />
        <activity
            android:name=".ActivityGridExample"
            android:exported="true" />
        <activity
            android:name=".ActivityListExample"
            android:exported="true" />
        <activity
            android:name=".ListOptionExampleActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".DbExampleActivity"
            android:exported="true">

        </activity>

        <activity
            android:name=".ContactListActivity"
            android:exported="true"></activity>

        <activity android:name=".MapActivity" android:exported="true">

        </activity>

        <activity android:name=".ActivityVolleyExample" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>